<div class="form-container">
    <h2>Update Student</h2>
    <form [formGroup]="updateStudentForm" (ngSubmit)="updateStudent()">
        <input type="number" placeholder="Enter RollNo"  formControlName="rollNo" readOnly ><br>
        <input type="text" placeholder="Enter Name" formControlName="name"><br>
        <input type="number" placeholder="Enter Age" formControlName="age"><br>
        <input type="email" placeholder="Enter Email" formControlName="email"><br>
        <input type="date" placeholder="Enter Date" formControlName="date"><br>
        <div class="checkbox-container">
            <input type="checkbox" id="isMale" formControlName="isMale">
            <label for="isMale">Is Male</label>
        </div>
        <button type="submit">Update</button>
    </form>
</div>
